body{
    color:white;
    margin: 0;
    box-sizing: border-box;
}

.root{
    margin: 16px;
}

.container{
    width:100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

.widgets-header{
    width:100%;
    height: 200px;
    background-color: #84a5ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widgets-content{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.widget-item{
    background-color: #456fc7;
    width:33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width:100%;
    height: 200px;
    background-color: #84a5ea;
    display: flex;
    justify-content: center;
    align-items: center;
}
