body {
  margin: 0;
}

header,
footer {
  height: 20vh;
}

div {
  height: 60vh;
  display: flex;
}

section {
  height: 100%;
  width: 100%;
  background: #8e8e8e;
}

.color1 {
  background: #78786f;
}
.color2 {
  background: #61615c;
}

aside {
  width: 40vw;
  height: 100%;
  background: #727459;
}
