body {
  margin: 0;
}

header,
footer {
  height: 20vh;
}

div {
  height: 60vh;
  display: flex;
}

section {
  height: 100%;
  width: 60vw;
  background: #8e8e8e;
}

aside {
  width: 40vw;
  height: 100%;
  background: #727459;
}
